service vendor-lineage-touch-hal-1-0-x104 /vendor/bin/hw/vendor.lineage.touch@1.0-service.x104
    interface vendor.lineage.touch@1.0::ITouchscreenGesture default
    class hal
    user system
    group system
